*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Poppins,sans-serif;
background:#fff7f8;
}

header{
background:white;
display:flex;
justify-content:space-between;
padding:20px 10%;
align-items:center;
}

h1{
font-family:Playfair Display;
color:#d989a4;
}

nav a{
margin-left:20px;
text-decoration:none;
color:#444;
}

.banner{
height:70vh;

background:url("https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9?w=1600");
background-size:cover;

display:flex;
justify-content:center;
align-items:center;
}

.texto-banner{
background:rgba(255,255,255,.8);
padding:40px;
border-radius:20px;
text-align:center;
}

button{
padding:12px 30px;
border:none;
border-radius:30px;
background:#f2c7d1;
cursor:pointer;
}

.categorias{
padding:60px;
}

.grid-categorias{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.categoria{
width:250px;
background:white;
border-radius:20px;
overflow:hidden;
text-decoration:none;
color:black;
}

.categoria img{
width:100%;
height:250px;
object-fit:cover;
}

.categoria h3{
padding:15px;
text-align:center;
}

.carrossel{
padding:60px;
text-align:center;
}

.slider{
display:flex;
justify-content:center;
align-items:center;
gap:30px;
}

.produto-slider img{
width:300px;
height:300px;
object-fit:cover;
border-radius:20px;
}

footer{
background:#222;
color:white;
text-align:center;
padding:50px;
margin-top:50px;
}